body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 0;
  overflow: hidden;
  background-color: #202123;
  color: #fff;
  transition: width 0.3s ease;
}
.main-section {
  background-color: #343541;
  flex: 1;
  display: grid;
}

.main-section-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #fff;
}

.disclamer {
  align-self: center;
}

.main-header {
  display: flex;
  color: #fff;
  border: dotted 2px white;
  justify-content: center;
  align-items: center;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  border: dotted 2px white;
  align-items: center;
  overflow: hidden;
}

.main-reading-area {
  color: #fff;
  line-height: 40px;
  font-size: 40px;
  overflow-y: auto;
  height: 80vh;
}

.disclamer {
  font-size: medium;
}

/* Hamburger */

.hamburger {
  background: none;
  border: none;
  position: relative;
  width: 30px;
  height: 22px;
  cursor: pointer;
  outline: none;
  z-index: 10;
}

.hamburger span {
  background-color: #d9d9e3; /* or any color you prefer */
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  transition: all 0.3s;
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

/* Tablet and above */
@media (min-width: 750px) {
  .sidebar {
    width: 250px;
  }
  .mobile-header {
    display: none;
  }
}
