/* ~~~~~~~~~~~~~~~~~~ */
/* MAIN DISPLAY */
/* ~~~~~~~~~~~~~~~~~~ */

.main-display-section {
  display: flex;
  flex-direction: column;
  background-color: #343541;
  height: 100%;
  width: 100%;
  display: relative;
}

/* ~~~~~~~~~~~~~~~~~~ */
/* MAIN DISPLAY HEADERS*/
/* ~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~MOBILE~~~~~~~~~~~~~~ */
.main-display-mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  border-top: solid #5d5d67 0px;
  border-bottom: solid #5d5d67 1px;
  height: 43px;
  font-size: 100%;
  padding-top: 4px;
  padding-left: 6px;
}

/* SVG elements in mobile header */
.h-6 {
  stroke: #d9d9e3;
  width: 24px;
  height: 24px;
}

#hamburger svg {
  margin-top: 1px;
  margin-left: 12px;
}

#hamburger:hover svg {
  stroke: #fff;
}

#hamburger:focus svg {
  outline: 2px solid white;
  border-radius: 1px;
  outline-offset: 5px;
}

h1#mobile-header-new-chat {
  color: #d9d9e3;
  align-self: center;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 600;
  text-align: center;
  justify-self: center;
  padding-top: 2px;
  margin-top: 14px;
  margin-left: 10px;
}

#mobile-header-new-chat-button {
  width: 48px;
  margin-top: 2px;
  margin: 0px 0px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~MAIN DISPLAY HEADER~~~~~~~ */

.main-display-header {
  margin-top: 52px;
  /* display: flex; */
  /* DISABLED UNTIL REACTIVITY IS INCLUDED */
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #d9d9e3;
  /* border: rgb(198, 230, 42) dotted 1px; */
  padding: 8px;
  font-weight: 100;
  font-size: 8px;
  border-bottom: solid 1px #2a2b32;
}

.main-header-title {
  display: flex;
  flex-direction: row;
  line-height: 1.5;
  margin-bottom: 4px;
  margin-left: 4px;
}

#main-header-ehw {
  padding-top: 5px;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.6px;
  margin: 0;
}

.h-4,
.w-4 {
  align-self: center;
  height: 16px;
  width: 16px;
}

.header-share-button {
  position: relative;
  height: 35px;
  width: 35px;
  margin-right: 11px;
  margin-bottom: 0px;
  background: rgba(0, 0, 0, 0);
  transition: background 0.1s;
  border-radius: 4px;
}

.header-share-button:hover {
  background: rgba(255, 255, 255, 0.075);
  border-radius: 4px;
}

.tooltip {
  position: absolute;
  letter-spacing: -0.6px;
  left: -185%;
  bottom: -2%;
  background-color: black;
  color: white;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
  white-space: nowrap;
  transform: translateY(-10%) translateX(-50%);
  top: 10%;
  z-index: 1;
  padding: 12px;
  visibility: hidden;
  transition: visibility ease 0.1s;
  align-content: center;
  line-height: 12px;
  pointer-events: none;
}

.tooltip::after {
  content: "";
  position: absolute;
  left: 97%;
  bottom: 50%;
  border-left: 10px solid black;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translateY(50%);
}

.tooltip:hover {
  visibility: hidden;
}

.header-share-button:hover .tooltip {
  visibility: visible;
  transition-delay: 0.2s;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ~~~~~~~~~~~~~~~~~~ */
/* LANDING PAGE ELEMENT STYLING */
/* ~~~~~~~~~~~~~~~~~~ */

.gpt-version-selector-box {
  font-size: 16px;
  font-weight: 700;
  height: 53px;
  color: #d9d9e3;
  margin-top: 52px;
}

.gpt-version-selector-visible-area {
  display: flex;
  align-content: center;
  justify-content: space-around;
  height: 100%;
  background-color: #202123;
  border-radius: 12px;
  margin: 0px 10px;
}

#version-text-3,
#version-text-4 {
  letter-spacing: -0.8px;
  font-weight: 600;
}

.version-button-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40414f;
  border-radius: 10px;
  flex: 1;
  margin: 4px;
  border: #5d5d67 solid 1px;
}
.version-button-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #40414f;
  border-radius: 10px;
  flex: 1;
  margin: 4px;
  border: #5d5d67 solid 1px;
}

.version-button-4 svg {
  width: 20px;
  height: 20px;
  color: #ab68ff;
}
.version-button-3 svg {
  width: 20px;
  height: 20px;
  color: #19c37d;
}

.arrow-down-version-selector {
  stroke: #8e8ea0;
  fill: none;
  align-self: flex-start;
  margin-top: 8px;
  transform: scale(0.7);
}

.arrow-up-version-selector svg {
  stroke: #8e8ea0;
  fill: none;
  align-self: flex-start;
  margin-top: 3px;
  transform: scale(0.7);
  display: none;
}

.chat-ehw-watermark {
}
.chat-ehw-watermark::after {
}

/* ~~~~~~~~~~~~~~~~~~ */
/* SIDEBAR SECTION */
/* ~~~~~~~~~~~~~~~~~~ */

.sidebar-section {
  display: none;
}
